{% extends "stock/base.html" %}
{% block contents %}
<h4>Favorites</h4>

<table class="table table-bordered table-hover">
<tr>
	<th>StockCode</th>
	<th>StockName</th>
	<th>Delete</th>
</tr>
{% for favorite in favorites %}
<tr>
	<td><a href="{% url 'stock_id' favorite.stock_code.stock_code %}">{{ favorite.stock_code.stock_code }}</a></td>
	<td>{{ favorite.stock_code.stock_name }}</td>
	<td><a class="btn btn-primary" href="{% url 'favorite_delete' favorite.stock_code.stock_code %}">Delete</a></td>
</tr>

{% endfor %}
</table>
<a href="{% url 'favorite_add' %}" class="btn btn-primary">Add</a>
{% endblock %}

