{% extends "stock/base.html" %}
{% block contents %}
<h4>관심종목 추가</h4>
<form method="post" action="{% url 'favorite_add' %}">
{% csrf_token %}

<table class="table table-bordered table-hover">
<tr>
	<th>종목코드</th>
</tr>
<tr>
	<td><input type="text" name="stock_code" id="stock_code" name="stock_code" autocomplete="off" /></td>
</tr>
</table>
<button type="submit" class="btn btn-primary">Add</button>
</form>

<script>
	$( document ).ready(function() {

  	$(function() {
      $( "#stock_code" ).autocomplete({
        source: availableTags
      });
    });
	});
	
</script>   
{% endblock %}

