{% extends "stock/base.html" %}
{% block contents %}
<h4>오늘의 추천주</h4>

<table class="table table-bordered table-hover">
<tr>
	<th>종목 코드</th>
	<th>종목명</th>
	<th>PER</th>
	<th>PBR</th>
	<th>추정 PER</th>
	<th>추정 EPS</th>
	<th>매수</th>
</tr>
{% for stock_item in stock_items %}
<tr>
	<td><a href="http://finance.naver.com/item/main.nhn?code={{ stock_item.stock_code.stock_code }}" target="_blank">{{ stock_item.stock_code.stock_code }}</a></td>
	<td>{{ stock_item.stock_code.stock_name }}</td>
	<td>{{ stock_item.per }}</td>
	<td>{{ stock_item.pbr }}</td>
	<td>{{ stock_item.cns_per }}</td>
	<td>{{ stock_item.cns_eps }}</td>
	<td>{{ stock_item.invest_point }}</td>
</tr>

{% endfor %}
</table>
{% endblock %}

